
.btnContent .rdk-button-shade {
    background-color: #fff;
}
.btnContent .rdk-button-btn {
    color: #008FD4;
    border: 1px solid #ccc;
}
.btnContent .rdk-shade-opacity {
    background-color: #fff;
    border: 1px solid #3c9fcb
}
.btnContent .rdk-button-selected{
    background-color: #fff;
    border: 1px solid #3793bb
}
.btnContent .rdk-button-enabled {
    background-color: #fff;
    color: #ccc;
}