.time-wrap {
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 2px;
    height: 308px;
    width: 215px;
    padding: 8px 5px 0 5px;
    background-color: #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.175);
    border-radius: 0 0 4px 4px;
    position: relative;
}

.rdk-time-select-module + .color-tips{
    position: absolute;
    width: 95%;
    bottom: 5px;
}