/*使用cunstom-scroll定义滚动条，容器的宽高需要设置在此节点上 start*/
.m-table .rdk-table-module .wrapper{
    max-height: 320px;
}
/*使用cunstom-scroll定义滚动条，容器的宽高需要设置在此节点上 end*/
.m-table{
    position: relative;
}
.m-table .u-page-size{
    display: flex;
    align-content: center;
    position: absolute;
    bottom: 25px;
    left: 680px;
}
.m-table .pagingLine{
    margin-top: 36px;
}
