<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>RDK应用工程模板</title>

    <link rel="stylesheet" type="text/css" href="/rdk/app/libs/rdk/css/global.css">

    <!-- 应用在开发、调试阶段，请使用下面这个节点，RDK会使用编译前的代码，方便定位问题 -->
    <script data-main="/rdk/app/libs/rdk/rdk"
        src="/rdk/app/libs/requirejs/require.js"></script>
    <script src="self.js"></script>

    <!-- 应用正式运行的时候，请使用下面这个节点，RDK会使用编译后的代码，代码体积小，下载快 -->
    <!--
    <script data-main="main.min.js" src="/rdk/app/libs/requirejs/require.js"></script>
    <link rel="stylesheet" type="text/css" href="main.min.css">
    -->
    
    <script type="text/javascript">
        require.config({
            paths: {
                //这里引用了rdk应用的公共助手文件，不要改动
                "application": '/test/module/testee_helper',
            }
        });
    </script>
    <style type="text/css">
        .demo{
            margin-bottom: 150px;
        }
        .dis-inbl{
            display:inline-block;
        }
    </style>
</head>
<body ng-controller='rdk_ctrl' class="rdk_main">
    <div>ComboSelect</div>
    <div class="demo1 demo" id="demo1">
        <h2>frozen</h2>
        <rdk_combo_select caption='title1' open="open" frozen="frBln">
            <rdk_basic_selector data="allItems" multiple_select="true" track_item_by="id" child_change="selected2string">
            </rdk_basic_selector>
        </rdk_combo_select>
        <div class="dis-inbl">
            <button class="thanBut" ng-click="frBln=!frBln">点击冻结和解冻</button>
            frozen:<span>{{frBln}}</span>
        </div>
        <div class="dis-inbl">
            <button class="addTitle" ng-click="titleChange()">添加标题</button>
            title:<span>{{title1}}</span>
        </div>
        
        <div class="dis-inbl">
            <button class="switchBut" ng-click="open=!open">点击开关</button>
            <span>{{open}}</span>
        </div>
        <p class="dis-inbl">{{province}}</p>
    </div>



    <div class="demo2 demo">
        <h2>change</h2>  
        <rdk_combo_select id="comboID" caption="'已选项:'" open='true' style="margin-top: 100px">
            <rdk_basic_selector id="selectorID" data="allItems" multiple_select="false" track_item_by="id">
            </rdk_basic_selector>
        </rdk_combo_select>
        <div class="dis-inbl"><p>{{str}}</p></div>
    </div>
    <!-- 在页面渲染完成之前，显示在界面上，防止页面抖动 -->
    <!--     这个节点可选，删除后，RDK会自动生成一个    -->
    <!--           这个节点只支持基本HTML标签           -->
    <div style="height:100px"></div>
    <rdk_loading>
        <img src="images/loding.gif" alt="loading..."/>
    </rdk_loading>
</body>

</html>
