#忽略windows进程临时配置文件
start.cfg

#忽略日志文件
**/logs

#忽略工程临时文件
**/rdk/target
**/rdk/project/project
**/rdk/project/target
**/upload_files

#忽略运行环境信息
**/rdk/proc/bin/jre

#忽略测试运行相关
test/report
test/npm-debug.log

#忽略idea工程相关
**/.idea
**/.idea_modules

#忽略运行期临时目录
**/doc/client/demo/tmp
**/upload_files
