
* {
	margin:0; 
	padding:0;
}
ul,li{
	list-style:none;
}
.modalcss{
	font-size: 14px;
	padding: 0;
	font-family: '微软雅黑';
	z-index: 1001;
	padding: 0 !important;
	background: #f6f6f6 !important
}
/*********右上角关闭按钮样式**********/
.ui-dialog .ui-dialog-title{
	font-size:14px;
	color:#008fd4;
}
.ui-widget-header {
	border-bottom: none;
}
.ui-corner-all {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}
.ui-dialog .ui-dialog-titlebar-close {
	padding: 0;
}
.ui-button-icon-only .ui-button-text {
	padding: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #eee;
	border: none;
}
.ui-state-default:focus, .ui-widget-content .ui-state-default:focus {
	border: none;
	outline: none;
}
.content {
	height: 100%;
	border-bottom: 1px solid transparent;
	border-top:1px solid transparent;
}
.ui-dialog {
	overflow: inherit;
}
/*******容器内部子样式********/
.content>ul>li>span{
	display:inline-block;
	width:172px;
	text-align: right;
	padding-right:20px;
}
.content>ul>li{
	margin-bottom: 16px;
}
.content>ul>li:nth-last-child(2){
	margin-bottom: 12px;
}
.content>ul>li:last-child{
	text-align: center;
	margin-bottom: 20px;
}
.content>ul>li:first-child{
	margin-top: 26px;
}
.content>ul{
	margin-right: 40px;
	margin-left: 40px;
	color: #666;
}
.content>ul>li:first-child>input{
	width: 200px;
	height: 28px;
	padding-left: 10px;
	outline: none;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
}
.content>ul>li:first-child>input:focus{
	outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}
.content>ul>li:nth-child(2)>i {
	display: inline-block;
	width: 45px;
	border: 1px solid #e7e7e7;
	cursor: pointer;
	text-align: center;
	line-height: 24px;
	font-style: normal;
	/*padding:5px 15px;*/
}
.rdk-button-btn {
	min-width: 48px;
}
.content>ul>li:nth-child(2)>i:nth-last-child(2){
	border-top-left-radius: 4px;
	background: #5395d8;
	color: #fff;
	border-right: none;
	border-bottom-left-radius: 4px;
}
.content>ul>li:nth-child(2)>i:nth-last-child(1){
	border-top-right-radius: 4px;
	color:#333;
	border-bottom-right-radius: 4px;
}
/*****下拉选择图标样式******/
.bootstrap-select.btn-group .btn .caret {
	width: 8px;
	height: 8px;
	margin-top: -6px;
	border: 1px solid #008fd4;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	transform:rotate(45deg);
}
.bootstrap-select>.btn{
	width: 200px;
	height: 28px;
	border: 1px solid #d8d8d8;
	line-height: 13px;
}
.btn-group>.btn:first-child{
	margin-left: -3px;
}
.ui-dialog .ui-dialog-content{
	overflow: visible;
}
.dropdown-menu>li>a {
	color: #434343;
}
.bootstrap-select.btn-group .btn .filter-option{
	color: #434343;
}

