.rdk-combo-select-module .combo-content .combo-content-theme {
    background-color: #fff;
    color: #434343;
    padding-left: 8px;
    width: 138px;
}
.rdk-combo-select-module .combo-content {
    border: 1px solid #ccc;
}
.main {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 16px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
.select-state{
    border:0
}
.rdk-selector-module {
    border: none;
    margin-bottom: -5px;
    overflow: visible;
}
.rdk-accordion-module {
    margin-bottom: 2px;
}
.main-search input {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    outline: 0;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
}
.main-search {
    padding:4px 10px;
    position: relative;
}
.main-search input:hover {
    border-color: rgba(0,143,212,0.6)
}
.main-search input:focus {
    border-color: rgba(0,143,212,0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 2px rgba(0,143,212,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 2px rgba(0,143,212,0.6);
}
/*全选样式*/
.mutil {
    height:12px;
    width: 12px;
    position: absolute;
    top:9px;left:10px;
    cursor: pointer;
    background-image: url(../images/normal.png);
    background-repeat: no-repeat;
}
.seletor11{
    background-image: url(../images/selected.png);
    background-repeat: no-repeat;
}
.seletor12{
    background-image: url(../images/selected.png);
    background-repeat: no-repeat;
}
.seletor13{
    background-image: url(../images/selected.png);
    background-repeat: no-repeat;
}
.rdk-accordion-module .content {
    padding: 0;
    margin: 0;
}
.rdk-accordion-module .theme {
    height: 30px;
    line-height: 18px;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 25px;
    margin: 0;
    background-color: #eee;
    font-size: 12px;
    color: #666
}
.rdk-accordion-module .theme .fa-angle-down:before,.rdk-accordion-module .theme .fa-angle-up:before {
    position: relative;
    top:-2px;
}
.search-icon {
    position: absolute;
    right: 20px;
    top: 12px;
}
.main .rdk-accordion-module .content .selector li {
    background-image: url(../images/normal.png);
    background-repeat: no-repeat;
    background-position: 20px 7px; ;
}
.main .rdk-accordion-module .content .selector li:hover{
    background-image: url(../images/hover.png);
    background-repeat: no-repeat;
    background-position: 20px 7px; ;
}
.main .rdk-accordion-module .content .selector li.selected-item{
    background-image: url(../images/selected.png);
    background-repeat: no-repeat;
    background-position: 20px 7px; ;
}
.rdk-selector-module .original-item:hover, .rdk-selector-module .selected-item:hover {
    background-color: #e2eef9;
}
.rdk-selector-module .selector li {
    float: left;
    width: 100%;
    border:none;
    border-radius: 0;
    margin: 2px 0;
    padding: 3px;
    padding-left: 40px;
}
.rdk-selector-module .selected-item {
    background-color: transparent !important;
}
.rdk-selector-module .selector {
    padding: 0;
}
.rdk-selector-module .selector li:last-child {
    margin-bottom: 0;
}
.ps-active-x.ps-container > .ps-scrollbar-x-rail {
    display: none;
}
.fa-times-circle:before {
    color: #ccc;
    cursor:pointer
}
.fa-search:before {
    color:gray;
}
.rdk-combo-select-module .combo-content-icon {
    right:8px;
}
.rdk-accordion-module .theme .fa {
    float: right;
    margin-right: 5px;
    /*//adfasdfasdf*/
}




