.selected {
    background-color: #D7E4EC;
    border-bottom: 3px solid #008FD4;
}

.normal {
    background-color: #eee;
    border: 0
}

.wrapper {
    width: 200px;
    text-align: center;
    border-left: 1px solid #5BA9DD;
    padding: 10px 0;
    cursor:pointer;
   /* margin: 0 10px;*/
}

.context:last-child .wrapper {
    border-right: 1px solid #5BA9DD;
}

.scollerDiv {
    background-color: #eee;
    border: 1px solid #ccc;
    width: 650px;
    margin: 0 auto;
    padding: 0px 20px;

}

.oldPercent {
    color: #F6BA38;
}

.newPercent {
    color: #5687E6;
}

.context{
	position:relative;
	overflow:visible;
}

.bottom_line {
    position: absolute;
    border-color: #008FD4 transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
    width: 0;
    height: 0;
    margin-top: 0px;
    left: 50%;
    margin-left: -3px;
}


