/* animation start*/
.tab_wrap{
    position: absolute;
    width: 580px;
    bottom:0;
    height: 550px;
    transition: bottom 0.3s linear;
}
.wrap-animation{
    bottom:-500px;
}
/*固定高度可设置滚动条*/
.rdk-tab-module .tabs>.content{
    /*height: 540px;*/
}
.rdk-tab-content,.content{
    opacity: 1;
    transition: opacity 0.3s linear;
}
.content-hiddan{
    opacity: 0;
}
/* animation end*/
/*table 容器*/
.sticky-wrap {
    overflow: hidden;
}
/* tabs nav->btn */
.tab_btn{
    margin-top: 9px;
    padding: 6px 7px;
    border: 0;
    outline: none;
    position: absolute;
    top: 14px;
    left: 425px;
}
/*table*/
.rdk-table-module .rdk-table tbody>tr>td
{
    text-align: right;
}
.rdk-table-module .rdk-table thead>tr {
    color: #333;
    background-color: #fff;
}
/* rdk-table-theme-gray*/
.rdk-table-theme-gray .rdk-table-module .rdk-table tbody>tr>td:nth-of-type(1)
{
    text-align: left;
}
