.ui-widget-content{
    border: 0;
}
.content{
    border: 1px solid #ddd;
    margin: 0 .2em;
}
.ui-tabs .ui-tabs-panel {
     padding: .1em .7em;
}
.rdk-tab-module .ui-widget-header{
    border-bottom: 0 solid #008FD4;
}
.ui-tabs .ui-tabs-nav li {
    margin: 1px 0.1em 0 0;
}
.tab_wrap{
    position: relative;
}
/* tabs nav */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor,.tab_btn{
    background-color: #63B1EF;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* tabs nav->btn */
.tab_btn{
    margin-top: 9px;
    padding: 1rem 1rem;
    border: 0;
    position: absolute;
    top: 3px;
    left: 425px;
}
.tab_btn:focus {
    outline: none;
}
.tab_btn_up{
    background-image: url("../../icon_up.png");
    background-repeat: no-repeat;
    background-position: center;
}
.tab_btn_down{
    background-image: url("../../icon_down.png");
    background-repeat: no-repeat;
    background-position: center;
}
/* tabs nav selected */
.rdk-tab-module .title li a.selected{
    background-color: #FEA211;
    color: #fff;
}
/*tab ->nav span*/
.rdk-tab-module .bottom_line{
    /*display: none !important;*/
    height: 0;
}
/* tabs nav selected -> 白色小三角*/
.rdk-tab-module .bottom_line em {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0;
    border-bottom: 5px solid #fff;
}
/*tab content*/
/* content tr */
.rdk-accordion-module .theme{
    background-color: #e2eef9;
    margin: 3px 0;
    border-radius: 0;
    font-size: 13px;
    color: #333;
    font-weight: normal;
    border: 0;
}
/*背景3：#e4e4e4*/
.accordion-disabled{
    background-color: #e44045;
}
/* icon */
.fa{
    float: right;
    margin: 3px 6px;
    vertical-align: middle;
}
/* table*/
.rdk-accordion-module .content{
    margin:0;
    border:0;
    border-radius: 0;
    padding: 0;
    background-color: white;
    margin-top: -3px;
}
.rdk-table-module .rdk-table {
    background-color: #fff;
}
/*table head tr*/
.rdk-table tfoot tr, .rdk-table-module .rdk-table thead>tr {
    color: #333;
    border-bottom: 0 solid #008FD4;
    opacity: 1;
    font-size: 12px;
}
.rdk-table-module .rdk-table > thead > tr > th,.rdk-table-module .rdk-table > tbody > tr > td {
    text-align: left;
    font-weight: normal;
}
.rdk-table-module .rdk-table > tbody > tr:nth-child(even){
    background-color: #f3f3f3;
}
/*分割线：#dfdfdf；表内展开、收缩三角按钮：#a2a2a2*/
.rdk-table-module .rdk-table > thead > tr {
    border-bottom: 1px solid #dfdfdf;
}
.rdk-table-module .rdk-table tr  {
    border-bottom: 0;
}
/* table2 不同也签下的多表格样式*/
.table2 .rdk-table-module .rdk-table thead>tr {
    background-color: #f3f3f3;
}
.table2 .rdk-table-module .rdk-table > tbody > tr:nth-child(even){
    background-color: #fff;
}
.table2 .rdk-table-module .rdk-table > tbody > tr{
    border-bottom: 1px solid #dfdfdf;
}