<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Tab 自测</title>

    <link rel="stylesheet" type="text/css" href="/rdk/app/libs/rdk/css/global.css">

    <!-- 应用在开发、调试阶段，请使用下面这个节点，RDK会使用编译前的代码，方便定位问题 -->
    <script data-main="/rdk/app/libs/rdk/rdk"
        src="/rdk/app/libs/requirejs/require.js"></script>
    <script src="self.js"></script>
    

    <!-- 应用正式运行的时候，请使用下面这个节点，RDK会使用编译后的代码，代码体积小，下载快 -->
    <!--
    <script data-main="main.min.js" src="/rdk_server/app/libs/requirejs/require.js"></script>
    <link rel="stylesheet" type="text/css" href="main.min.css">
    -->
    
    <script type="text/javascript">
        require.config({
            paths: {
                //这里引用了rdk应用的公共助手文件，不要改动
                "application": '/test/module/testee_helper',
            }
        });
    </script>
</head>
<style>
    .rdk-tab{
        width:500px;
        margin: 10px
    }
</style>
<body ng-controller='rdk_ctrl' class="rdk_main">
    <div class="rdk-tab demo1">
        <h5>点击切换</h5>
        <button ng-click="select0index()">1</button>
        <button ng-click="select1index()">2</button>
        <button ng-click="select2index()">3</button>
        <rdk_tab selected_tab="1" id="test-tab">
            <div title="DIV1">DIV1</div>
            <div title="DIV2">DIV2</div>
            <div title="DIV3">DIV3</div>
        </rdk_tab>
    </div>
    <div class="rdk-tab demo2">
        <h5>鼠标移动切换</h5>
        <rdk_tab toggle_condition="mouseover">
            <div title="DIV1">DIV1</div>
            <div title="DIV2">DIV2</div>
            <div title="DIV3">DIV3</div> 
        </rdk_tab>
    </div>
    <h5>选项卡高度控制</h5>
    <div class="rdk-tab demo3">
        <rdk_tab height_style="content" style="height:150px">
            <div title="DIV1">
                <div>DIV1</div>
            </div>
            <div title="DIV2">
                <div>DIV2</div>
                <div>DIV2</div>
            </div>
            <div title="DIV3">
                <div>DIV3</div>
                <div>DIV3</div>
                <div>DIV3</div>
            </div> 
        </rdk_tab>
    </div>
    <div class="rdk-tab demo4">
        <rdk_tab height_style="auto" style="height:150px">
            <div title="DIV1">
                <div>DIV1</div>
            </div>
            <div title="DIV2">
                <div>DIV2</div>
                <div>DIV2</div>
            </div>
            <div title="DIV3">
                <div>DIV3</div>
                <div>DIV3</div>
                <div>DIV3</div>
            </div> 
        </rdk_tab>
    </div>
    <div class="rdk-tab demo5">
        <rdk_tab height_style="fill" style="height:150px">
            <div title="DIV1">
                <div>DIV1</div>
            </div>
            <div title="DIV2">
                <div>DIV2</div>
                <div>DIV2</div>
            </div>
            <div title="DIV3">
                <div>DIV3</div>
                <div>DIV3</div>
                <div>DIV3</div>
            </div> 
        </rdk_tab>
    </div>
    <div class="rdk-tab demo6">
        <rdk_tab collapsible="true" draggable="false" show_items="visibleItem">
            <div title="DIV1">DIV1</div>
            <div title="DIV2">DIV2</div>
            <div title="DIV3">DIV3</div>
        </rdk_tab>
    </div>

    
    <div class="rdk-tab demo6">
        <rdk_tab collapsible="true" draggable="false" show_items="visibleItem">
            <div title="DIV1">DIV1</div>
            <div title="DIV2">DIV2</div>
            <div title="DIV3">DIV3</div>
        </rdk_tab>
    </div>

    <div class="rdk-tab demo7">
        <strong> 动态新增Tab页示例</strong>
        <rdk_tab id='tabID4add'>
            <div title="DIV1">DIV1</div>
            <div title="DIV2">DIV2</div>
            <div title="DIV3">DIV3</div>    
        </rdk_tab>
        <button id='btn4add' ng-click='addTabHandler()'>动态新增tab</button>        
    </div>

    <div class="rdk-tab demo8">
        <strong> destroy Tab页示例</strong>
        <rdk_tab id='tabID4destroy' close='destroyHandler'>
            <div title="DIV1">DIV1</div>
            <div title="DIV2">DIV2</div>
            <div title="DIV3" show_close_button='true'>DIV3</div>    
        </rdk_tab>     
    </div>

    <div class="rdk-tab demo9">
        <strong> close Tab页示例</strong>
        <rdk_tab id='tabID4close' close='closeHandler'>
            <div title="DIV1">DIV1</div>
            <div title="DIV2">DIV2</div>
            <div title="DIV3" show_close_button='true'>DIV3</div>    
        </rdk_tab>     
    </div>

    <!-- 在页面渲染完成之前，显示在界面上，防止页面抖动 -->
    <!--     这个节点可选，删除后，RDK会自动生成一个    -->
    <!--           这个节点只支持基本HTML标签           -->
    <div style="height:100px"></div>
    <rdk_loading>
        <img src="images/loding.gif" alt="loading..."/>
    </rdk_loading>
</body>

</html>
