<div>
    <!--
      模板的第一个非空白字符，必须是 <div>，模板的注释必须写在div的内部
    -->
    <ul>
        <li>
        一个正式app的逻辑一般都比较复杂，可以采用 rdk_module 控件将app拆成若干个小模块，由不同的人负责不实现不同的模块，然后将这些模块组装成一个app就好。你正在阅读的这些文字就是通过一个简单的模块显示出来的。
        </li>
        <li>
        <a href="/doc/#client/controls/module/module.md" target="_blank">rdk_module</a> 是一个非常有用的控件，除了能够将复杂app拆分以外，还能将常用功能模块化以达到重复使用的目的。构建一个模块所需的技能远低于构建一个基础控件，因此请尽量尝试将雷同功能模块化，以提高开发效率！现在就开始构建属于你自己的模块库吧！
        </li>
        <li>我们也热忱欢迎将你的模块贡献给RDK，这样可以帮助到更多的人！详情请访问<a href="http://gitlab.zte.com.cn/10045812/rdk" target="_blank">RDK代码官网</a>。
        </li>
        <li>了解更多关于 <a href="/doc/#client/controls/module/module.md" target="_blank">rdk_module</a> 的用法
        </li>
    </ul>
</div>