.form-control {
    height:28px;
    width: 140px;
}

.btn {
    height: 28px;
    line-height: 14px;
}

span[class="filter-option pull-left"] {
    height:20px;
}

.mainDiv {
    width:80%;
    margin:0 auto;
}

div[class="CodeMirror cm-s-default CodeMirror-wrap"] {
    border: 1px solid black;
    height: auto;
}