 .combo_select{
    padding:5px 5px 5px 40px;
    background:#008fd4 url(../images/positioning.png) no-repeat 5px 5px;
}
.rdk-combo-select-module .combo-content{
    background:#fff;
}
.fa-angle-down,.fa-angle-up{
    font-size:25px;
}
.rdk-combo-select-module .combo-content-icon{
    top:1px;
}