.panel-wrap{
    position: absolute;
    top: 300px;
    background-color: #fff;
    transition: top 0.35s linear;
    margin: 100px 200px;
}
.rdk-panel{
    opacity: 0;
    padding: 8px;
    border: 1px solid #eee;
    box-shadow: 1px -1px 2px #eee;
}
.rdk-panel-module {
    border: 0;
    padding: 0;
}
/* 滚动条*/
.panel-content {overflow:hidden}
.content{height:248px;padding-right:4px;}
/* title */
.panel-title {
    border: 0;
    background-color: #fff;
    height: 32px;
    font-weight: normal;
}
.panel-caption{
    line-height: 28px;
}
.panel-caption i{
    font-style: normal;
    font-weight: normal;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    color: #008fd4;
    margin-left: -14px;
}
.btn{
    position: absolute;
    top: 0;
    right: 10px;
}
.btn-show{
    width: 64px;
    height: 13px;
    border: 0;
    outline: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top: -12px;
    left: 44.2%;
}

.btn-icon-down{
    background: url("../images/btn-up.png") no-repeat;
}
.btn-icon-up{
    background: url("../images/btn-down.png") no-repeat;
}
/* panel animation*/
@keyframes slideUp {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
.wrap-animation{
    top:20px;
}
.panel-up{
    animation:  slideUp 0.35s linear;
    transition: opacity 0.35s linear;
    opacity: 1;
}
.panel-down{
    /*animation:  slideUp 0.5s linear alternate-reverse;*/
    transition: opacity 0.35s linear;
    opacity: 0;
}

/* table */
.rdk-panel .rdk-table-module .rdk-table thead>tr {
    color: #008fd4;
    font-size: 12px;
    background-color: #eeeeee;
    border-bottom: 0;
    /*border-bottom: 1px solid #008FD4;*/
}
.rdk-table-module .rdk-table > thead > tr > th {
    font-weight: normal;
    padding: 0 6px;
}
/* tr 隔行不同颜色*/
.rdk-panel .rdk-table-module .rdk-table > tbody > tr:nth-child(odd){
    background-color: #fff;
}
.rdk-panel .rdk-table-module .rdk-table > tbody > tr:nth-child(even){
    background-color: #f3f3f3;
}
.rdk-table-module .rdk-table > thead > tr > th,.rdk-table-module .rdk-table > tbody > tr > td {
    text-align: left;
}
/* td 第2,3,列居中对齐*/
.text-align,.rdk-panel .rdk-table-module .rdk-table thead>tr>th:nth-of-type(2),.rdk-panel .rdk-table-module .rdk-table thead>tr>th:nth-of-type(3){
    text-align: center !important;
}
/*表格详细列*/
.col-detail > div >div{
    overflow: hidden;
    width:8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*设置head tr 固定在表格头部时的偏移量*/
.sticky-wrap .sticky-thead, .sticky-wrap .sticky-col, .sticky-wrap .sticky-intersect {
    left: 0;
}
/*表格选择行的背景色*/
.rdk-table-module .rdk-table tbody tr.selected-row td {
    background-color: #cde4fa;
}
/*表格hover背景色*/
.rdk-table-module .rdk-table > tbody > tr:not(.selected-row):hover > td {
    background-color: #e2eef9;
}
.rdk-table-module .rdk-table tbody tr.selected-row:hover {
    /*background-color: #e3eef2*/
    background-color:  #e2eef9;
}
/*表格字体颜色*/
.rdk-table-module .rdk-table tr{
    color: #434343;
    border-bottom: none;
}
.rdk-table-module .rdk-table > tbody > tr > td {
    padding: 5px 6px;
}