.panel-wrap{
    position: absolute;
    top: 300px;
    background-color: #fff;
    transition: top 0.35s linear;
    margin: 10%;
}
.rdk-panel{
    opacity: 0;
    padding: 8px;
    border: 1px solid #eee;
    box-shadow: 1px -1px 2px #eee;
}
/* 滚动条*/
.content{height:248px;padding-right:4px;}
.btn-show{
    border: 0;
    outline: 0;
    position: absolute;
    top: -12px;
    left: 44.2%;
}
/* panel animation*/
@keyframes slideUp {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
.wrap-animation{
    top:20px;
}
.panel-up{
    animation:  slideUp 0.35s linear;
    opacity: 1;
}
.rdk-panel-module{
    border: 0;
}
.rdk-panel-caption{
    margin-left: 0;
}
.rdk-panel-content{
    padding: 0;
}
.panel-down{
    transition: opacity 0.35s linear;
    opacity: 0;
}
/* table */
.rdk-table-module .rdk-table > thead > tr > th {
    padding: 0 6px;
}
/* td 第1,2,3列右对齐*/
.rdk-panel .rdk-table-module .rdk-table tbody>tr>td:nth-of-type(1),
.rdk-panel .rdk-table-module .rdk-table tbody>tr>td:nth-of-type(2),
.rdk-panel .rdk-table-module .rdk-table tbody>tr>td:nth-of-type(3){
    text-align: right;
}
/* td 第4,5,6列左对齐*/
.rdk-panel .rdk-table-module .rdk-table tbody>tr>td:nth-of-type(4),
.rdk-panel .rdk-table-module .rdk-table tbody>tr>td:nth-of-type(5),
.rdk-panel .rdk-table-module .rdk-table tbody>tr>td:nth-of-type(6)
{
    text-align: left;
}
/*表格详细列*/
.col-detail > div >div{
    overflow: hidden;
    width:110px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
