.tab_main{
    width:800px;
}
.title_score{
    color:#ccc;
}
.sub-title .title_score{
    color:#333;
}
/*一二级表头公共样式设置*/
.ui-tabs .ui-tabs-nav li:hover a{
    text-decoration: underline;
    text-decoration-color: #2a6496;
    color:#2a6496;
}
.ui-tabs .ui-tabs-nav li:hover a.selected{
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li:hover a .title_score{
    color:#2a6496;
}
.ui-tabs .ui-tabs-nav li:hover a.selected .title_score{
    color:#2a6496;
}
.rdk-tab-module .title li a.selected .title_score{
    color:#008FD4;
}
/*一级表头样式设置*/
.rdk-tab-module .ui-widget-header{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    margin: .2em 1.2em 0;
}
.rdk-tab-module .ui-widget-header li{
    width:33.33%;
    text-align: center;
}
.rdk-tab-module .ui-widget-header li a{
    display:inline-block;
    width:100%;
}
.rdk-tab-module .bottom_line{
    width:110px;
    left:50%;
    margin-left:-55px;
}
 /*二级表头样式设置*/
 .sub-title-content{
    margin-top:4px;
 }
.sub-title,.sub-title-content>div{
    border:none;
    margin-top:0;
}
.sub-title-content>div>ul{
    border-bottom:none!important;
}
.ui-tabs .ui-tabs-panel{
    padding:0;
}
.sub-title .sub-title-content .ui-tabs-anchor{
    font-size:12px!important;
}
.sub-title ul li>span{
    display:none!important;
}
.sub-title-content .content{
    padding:0 .8em;
}
.sub-title-content a.selected title_renderer{
	border-bottom:1px solid #008FD4;
	padding:3px 0;
}