
.content{
	width:752px;
	overflow: hidden;
	margin:0 auto;
	margin-top:50px;
}
.hao{
	position: relative;
	width:740px;
	height: 308px;
    margin-right:12px;
	top:200px;
	font-family: '微软雅黑';
	padding:8px;
	border:1px solid #eee;
	box-shadow: 4px 4px 8px #eee;
}
/*图标设置*/
button.images_right{
	border: 0;
	outline: none;
	height:64px;
	width:12px;
    padding: 0;
	cursor: pointer;
	position:absolute;
	margin-top:100px;
	font-size: 72px;
	background-color: #fff;
	color: #008fd4;
}
/*进去时换的图标*/
.images_up{
	left:-740px;
    transition: all 0.25s linear
}
.images_down{
	left:0;
    transition: all 0.25s linear
}
/*标题样式*/
div.hao >span.title{
	position:absolute;
	border: none;
	top:10px;
	padding-left: 8px;
	font-size: 14px;
	font-style: normal;
	line-height: 30px;
	color: #008FD4;
}
i.iconfont {
	color: #008fd4;
	font-size: 16px;
}
i.iconfont-line {
	font-size: 20px;
}
