
.rdk-table-module .rdk-table > thead > tr > th{
	color:#008fd4;
	font-size: 14px;
	background:#eeeeee;
}
.hao{
	/*box-sizing: content-box;*/
	width:740px;
    margin-right:12px;
	/*padding-right:12px;*/
	/*overflow:auto;*/
	/*border:1px solid red;*/
	top:200px;
	position:absolute;
	padding:8px;
	border:1px solid #eee;
	box-shadow: 4px 4px 8px #eee;
}
/*设置tr样式*/
.rdk-table-module .rdk-table > tbody > tr:nth-child(even){
	background:#f3f3f3;
}
.rdk-table-module .rdk-table > thead > tr>th{
	text-align:left;
	font-size: 12px;
	padding:0px 6px;
	line-height:30px;
}
.rdk-table-module .rdk-table > thead > tr>th:last-child{
	text-align: center;
}
.rdk-table-module .rdk-table > tbody > tr>td:not(:last-child){
	text-align:left;
	/*padding:10px 20px;*/
}
.rdk-table-module .rdk-table > tr{
	height:30px;
}
.rdk-table-module .rdk-table > tbody > tr:nth-child(odd){
	background:#ffffff;
}
/*设置td样式*/
.rdk-table-module .rdk-table tbody tr.selected-row td{
	background:#e2eef9;
	padding: 0 6px
	/*line-height:30px;*/
}
.rdk-table-module .rdk-table tbody > tr >td{
	padding:0px 6px;
	line-height: 30px;
}
/*图标设置*/
span.images_right{
	display:inline-block;
	height:64px;
	width:12px;
	position:absolute;
	background:url(../images/left.png) no-repeat;
	margin-top:100px;
	/*left:100%;*/
	/*top:100;*/
}
/*进去时换的图标*/
span.images_left{
	background:url(../images/right.png) no-repeat;
}
.images_up{
	left:-740px;
    transition: all 0.25s linear
}
.images_down{
	left:0;
    transition: all 0.25s linear
}
.rdk-table-module .rdk-table{
	border:1px solid #eeeeee;
}
.rdk-table-module .rdk-table tfoot tr, .rdk-table-module .rdk-table thead>tr{
	border-bottom: 1px solid transparent;
}
/*标题样式*/
.rdk-panel-module{
	border:none;
}
.panel-title{
	background-color: #ffffff; 
    border: none;
    height: 32px;
    font-size: 14px;
}
.panel-caption{
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
	margin-left: 0;
}
i{
	font-style: normal;
	line-height: 32px;
	color: #333;
}
.rdk-table-module .enabledRecords{
	color: #008FD4;
}
.rdk-table-module .disabledRecords {
	color: #999999 !important;
}
.rdk-table-module .regularRecords {
	color: #333;
}
i.regular_right,i.regular_left{
	line-height: 17px;
}
i.regular_right{
	color:#666;
}
i.regular_left{
	color:#333;
}
/* 翻页样式 */
.rdk-table-module .pagination > li > span{
    padding: 0 15px;
}
.rdk-table-module .pagination > li > a{
    padding: 0 5px;
    font-size:12px;
}
.rdk-table-module .disabledRecords{
	font-size:12px;
}
.rdk-table-module .pagination > li > a:focus , .rdk-table-module .pagination > li > a:hover{
    background: transparent;
}




