 .combo_select{
    padding:4px 5px 4px 40px;
    height:40px;
    overflow:hide;
    background:#008fd4 url(../images/calendar.png) no-repeat 5px 5px;
}
.rdk-combo-select-module .combo-content{
    background:#fff;
}
.fa-angle-down,.fa-angle-up{
    font-size:25px;
}
.timeSpan{
	line-height: 27px;
    vertical-align: top;
}
.rdk-combo-select-module .combo-content-icon{
    top:1px;
}
.rdk-time-module .time-content{
	background:#fff;
    min-width: 0px !important;
}
.rdk-time-module .time-content .startTime, .rdk-time-module .time-content .endTime{
	width:120px;
	height: 30px;
    margin-bottom: 4px;
}
select{
	margin-right:8px;
	height: 30px;
}
.rdk-time-module .time-content{
	padding-right:0px;
	height: 32px;
}
.rdk-time-module select{
	width:72px;
}
[class*=" datetimepicker-dropdown"]:after {
    content: '';
    display: inline-block;
    border: 6px solid transparent;
    position: absolute;
}
[class*=" datetimepicker-dropdown"]:before{
	content: '';
    display: inline-block;
    border:none;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
}
.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active,
 .datetimepicker table tr td.active.disabled:hover.active{
 	background:#3ab1ea !important;
 }
 .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active,
  .datetimepicker table tr td span.active.disabled:hover.active{
  	background:#3ab1ea !important;
  }
.btn{
    background:#fff;
    margin-bottom: 5px;
    border-radius:0;
    height: 18px;
    border-left:1px solid #666;
    padding-right: 8px
}

.btn-group.open .dropdown-toggle{
    box-shadow: none;
}
.bootstrap-select .btn:focus{
    outline-offset: none !important; 
    outline:none !important;
}
.bootstrap-select .btn:active{
    outline:none !important;
    box-shadow: none;.
}
/** 粒度样式 **/
.rdk-time-module .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 80px;
}
.bootstrap-select.btn-group .btn .caret {
    right: 8px;
}
.rdk-time-module .btn{
    line-height: 3px;
}
.bootstrap-select.btn-group .btn .filter-option {
    overflow: inherit;
    left: 2px;
    right: 25px;
    height: 18px;
    text-align: center;
}
.rdk-time-module .time-content .granularity {
    height: 18px;
    top: 6px;
}
.dropdown-menu>li>a {
    width: 80px;
}
/* 悬浮状态样式 */
.dropdown-menu>li>a:hover {
    background: #eee;
    color: #333;
}
.dropdown-menu>li>a:active {
    outline:none;
}

.bootstrap-select.btn-group .dropdown-menu>li.selected{
    background: #eee ;
}
/**** 激活状态样式 *****/
.dropdown-menu>li>a:focus{ 
    background: #3ab1ea;
    color: #fff;
    outline: none;
}
.caret {
    border:1px solid #008fd4;
    width: 10px;
    height:10px;
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    transform:rotate(45deg); 
}
.bootstrap-select.btn-group .btn .caret {
    margin-top: -8px;
}
/* 日期个体显示大小*/
.datetimepicker .day {
    padding: 6px 6px;
}
/*日期月份个体显示大小 */
.datetimepicker table tr td span {
    height: 26px;
    line-height: 26px;
}
/*时间色值*/
.form-control{
    color:#333;
    padding:6px 0px;
}
.datetimepicker th.switch {
    color:#333;
}
input, button, select, textarea {
    font-family:"微软雅黑";
}
.datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover {
    color: #dedede;
}
.datetimepicker table tr td.old {
    color: #dedede;
}