 .combo_select{
    padding:4px 0 4px 10px;
    height:40px;
    width: 100%;
    background-color: #008fd4;
}
 .rdk-time-module {
     display: inline-block;
 }
 .iconfont-calendar:before {
     display: inline-block;
     color: #fff;
     font-size: 26px;
     vertical-align:middle
 }
