.rdk-table-module {
    margin: 0 10px;
}

.rdk-table-module .rdk-table {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: {{tableFontSize}};
    border-spacing:0px;
    width : 100%;
}

.rdk-table-module .rdk-table tfoot tr,.rdk-table-module .rdk-table thead>tr {
    background-color: {{backgroundColor_footOrHead}};
    color: {{color_footOrHead}};
}
/*.rdk-table-module .rdk-table tfoot tr,.rdk-table-module .rdk-table thead>tr {
    background-color: #408080;
    color: #ff0080;
}*/

.rdk-table-module .rdk-table tr {
    line-height: {{lineHeight}};
}

.rdk-table-module .rdk-table tbody tr.selected-row td {
    background-color: {{backgroundColor_bodyAndRowTD}};
}

.rdk-table-module .rdk-table > tbody > tr:not(.selected-row):hover > td {
    background-color: {{backgroundColor_NotSelectData}};
}

.rdk-table-module .rdk-table > thead > tr > th {
    text-align: {{textAlign_th}};
    padding:{{padding_th}};
}

.rdk-table-module .rdk-table > tbody > tr > td {
    text-align: {{textAlign_td}};
    vertical-align: {{verticalAlign_td}};
    padding:{{padding_td}};
}

.rdk-table-module .rdk-table .fa {
    display: block;
    line-height: 28px;
    font-size: 14px;
    color: #325BDB;
}

.rdk-table-module .search {
    max-width: 250px;
    padding-right: 20px
}

.rdk-table-module .search.separate {
    width: 100%;
    max-width: 100%;
    padding-left: 22px
}

.rdk-table-module .search_icon {
    position: absolute;
    right: 8px;
    top: 10px;
    color: gray
}

.rdk-table-module .search_icon.separate {
    left: 15px;
    top: 20px;
    font-size: 10px;
    width: 10px
}

.rdk-table-module  .pagination {
    margin: 15px 0px 0px 0px;
}

.rdk-table-module  .pagination > li > a {
    padding: 4px 10px;
}

.rdk-table-module .count {
    font-size: 14px;
    float: right;
    margin-top: 15px;
    color: #2165a3;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.rdk-table-module .count .records {
    color: #666;
    font-weight: 400
}

form {
    margin-top: 10px;
}
    
h1 {
    font-size: 18px;
    font-weight: bold;
}

label {
    font-weight: bold;
}

textarea {
    font-family: "Courier New";
    height:600px ; 
    width:450px ;
}