iframe{
      height:800px;
}

.rdk-selector-module{
    background-color: {{backgroundColorValue}};
    width: {{widthValue}};
    max-height: {{maxHeightValue}};
    border: {{borderValue}};
    border-radius:{{borderRadiusValue}};
    overflow: auto;
}

.rdk-selector-module .selected-item {
    float: {{float_Selcted}};
    border: {{borderValue_SelectedItem}};
    cursor: {{cursor_Selected}};
    border-radius: {{borderRadiusValue_SelectedItem}};
    background-color: {{backgroundColorValue_SelectedItem}};
    color:{{color_Selected}};
}

form {
    margin-top: 10px;
}
    
h1 {
    font-size: 18px;
    font-weight: bold;
}

label {
    font-weight: bold;
}

textarea {
    font-family: "Courier New";
    height:500px ; 
    width:300px ;
}