<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Selector自测</title>

    <link rel="stylesheet" type="text/css" href="/rdk/app/libs/rdk/css/global.css">

    <!-- 应用在开发、调试阶段，请使用下面这个节点，RDK会使用编译前的代码，方便定位问题 -->
    <script data-main="/rdk/app/libs/rdk/rdk"
        src="/rdk/app/libs/requirejs/require.js"></script>
    <script src="self.js"></script>
    

    <!-- 应用正式运行的时候，请使用下面这个节点，RDK会使用编译后的代码，代码体积小，下载快 -->
    <!--
    <script data-main="main.min.js" src="/rdk_server/app/libs/requirejs/require.js"></script>
    <link rel="stylesheet" type="text/css" href="main.min.css">
    -->
    
    <script type="text/javascript">
        require.config({
            paths: {
                //这里引用了rdk应用的公共助手文件，不要改动
                "application": '/test/module/testee_helper',
            }
        });
    </script>
</head>
<style>
   body>div{
       width:500px;
       margin:15px;
   }
</style>
<body ng-controller='rdk_ctrl' class="rdk_main">
    <!--分类好的数据-->
    <div class="demo1">
        <rdk_selector data="provinceData" open="true"></rdk_selector>
    </div>
    <!--设置初始选中内容-->
    <div class="demo2">
        <rdk_selector data="provinceData" open="true" selected_items="selectedItem"></rdk_selector>
    </div>
    <div class="demo3">
        <button ng-click="update()">update</button>
    </div>
    <!--未分类的数据集-->
    <div class="demo4">
        <rdk_selector data="citysData" open='true' groupby="groupbyFun" id="city" 
        selected_items="selectedNone" change="changeHandle">
        </rdk_selector><span class="select-city">{{selected}}</span>
    </div>
    <div class="demo5">
        <rdk_selector data="allItems" selected_items="selectedNone" id="selectorId" groupby="groupbyFun2"></rdk_selector>
        <button ng-click="open()">open</button>
        <button ng-click="close()">close</button>
        <button ng-click="select()">select</button>
        <span class="change">{{changeItem}}</span>
    </div>
    <!-- 在页面渲染完成之前，显示在界面上，防止页面抖动 -->
    <!--     这个节点可选，删除后，RDK会自动生成一个    -->
    <!--           这个节点只支持基本HTML标签           -->
</body>

</html>
