body {
    margin: 0px;
    width: 100%;
    margin: 0 auto;
    background-color: #f0f0f0;
    width: 1200px;
    position: relative;
}

.main_rdk_header{
    height: 11%;
    background-color: #008FD5;
}

#rdk_header {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px 0px;
    height: 120px;
    margin:10px 0px;
}

.rdk_header{
	float:left;
	width:100%;
	margin:10px 0px;
}

.rdk_table {
    background-color: #ffffff;
    border-radius: 7px;
	height:auto;
	float: left;
}

.button_right{
	float:right;
	margin-right:20px;
}

.inputCheckBox{
	margin-left:40px;
}

.form-control {
    height: 30px;
    width: 190px;
    display: inline;
}

.gap {
   margin-left: 20px;
}
#rdk_check{
    float: left;
    margin-left: 20px;
}
.btn{
margin-left:100px;
padding: 4px 12px;"
}
.rdk-table-module .rdk-table > thead > tr > th {
    text-align: center;
    white-space:nowrap;
    padding:5px 6px;
}
.rdk-table-module .rdk-table > thead > tr > th.ng-binding{

}
.rdk-table-module .rdk-table > tbody > tr > td{
   white-space:nowrap; 
}
