.rdk-alert-svrMsgBtn{
	padding: 0 16px;
	margin: 0 10px 20px 10px;
	min-width: 80px;
}
.rdk-alert-no {
	background-color: #41addc;
}
.rdk-alert-no:hover {
	background-color:#3c9fcb;
}
.rdk-alert-no:active {
	background-color: #3793bb;
}
.rdk-alert-yes {
	border: 1px solid #ccc;
	background-color: #fff;
	color:#004fd4;
}
.rdk-alert-yes:hover {
	border: 1px solid #9bc9dd;
	background-color: #fff;
}
.rdk-alert-yes:active {
	border: 1px solid #3793bb;
	background-color: #fff;
}
