.rdk-alert-svrMsgBtn{
	padding: 0 16px;
	margin: 0 10px 20px 10px;
	min-width: 80px;
}
.ui-dialog .ui-dialog-titlebar-close {
	height: 14px;
	width: 14px;
	right: 10px;
}
.rdk-popupservice-content .rdk-alert-btnLine .rdk-alert-yes {
	background: #f6f6f6;
	border: 1px solid #ddd;
	color: #5395d8;
}
.rdk-alert-yes:focus {
	border:1px solid #f6f6f6;
}
.rdk-alert-yes:hover {
	background: #e8e8e8;
}
.rdk-alert-yes:active {
	background: #e0e0e0;
}
