<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>RDK应用工程模板</title>
    
    <!-- fix-from -->
    <!--
        这个区域中的代码将被替换掉，请不要在这里添加任何有用代码
        fix-from 和 fix-to 是两个重要标志位，请勿改动
    -->

    <link rel="stylesheet" type="text/css" href="/rdk/app/libs/rdk/css/loading.css">
    <script data-main="/rdk/app/libs/rdk/rdk.js" src="/rdk/app/libs/requirejs/require.js"
        rdk-app="scripts/main"></script>

    <!-- 上面两行会被自动替换为下面两行 -->
    <!--
    <link rel="stylesheet" type="text/css" href="main.min.css">
    <script data-main="main.min" src="/rdk/app/libs/requirejs/require.min.js"></script>
    -->

    <!-- fix-to -->

</head>

<!-- rdk-loading 样式只能在body节点添加一次，其他节点不要添加 -->
<body ng-controller='RootController' class="rdk-loading">
    <h1>这是RDK应用工程模板<span class="version"> 版本 {{exampleVersion}}</span></h1>
    <p class="emphasis">强烈建议所有新增的应用都以这个模板为基础开始构建</p>

    <h3>版本信息</h3>
    <!--
        数据源是RDK调用rest服务的利器，这里简单演示如何使用数据源，注意节点上ds开头的各个属性
        $svr这个宏指向本应用的server目录，可使用 app/example/server/version 代替 $svr/version
        需要使用非RDK构建的rest服务时，直接将其url填上即可，比如 /xx/yy/zzz
    -->
    <ul ds="rdkVersion" ds_url="$svr/version" ds_query_if="ready" ds_init_data="...">
        <li>RDK框架版本 {{rdkVersion}}</li>
        <li>工程模板版本 {{exampleVersion}}</li>
        <li><a href="/rdk/app/example-v1/web/index.html">返回</a>旧版工程模板(v1.0)</li>
    </ul>
    
    <h3>演示调用REST服务</h3>
    <ul>
        <!--
            ds属性可以放在任意dom节点上，将它放在直接使用数据的节点是一个非常好的实践
            ds更多用法，请参考各个控件的demo
        -->
        <li ds="msgFromSvr" ng-bind="msgFromSvr" ds_url="$svr/my_service"
            ds_query_if="ready" ds_init_data="{{i18n.wait}}"></li>
    </ul>

    <h3>演示国际化</h3>
    <ul>
        <!--
            i18n是一个全局属性（准确的说是根scope上的一个属性）
            lang是i18n.js中任意定义的一个词条
            lang.st() 是rdk在String的prototype上定义的一个函数
        -->
        <li>{{i18n.lang.st(i18n.$locale)}}</li>
    </ul>

    <h3>演示模块化</h3>
    <rdk_module url="template/plain_text.html"></rdk_module>

    <h3>演示模块化稍微复杂一些的用法</h3>
    <button ng-click="loadModule()">加载模块</button>
    <button ng-click="destroyModule()" ng-show="moduleLoaded">卸载模块</button>
    <button ng-click="sayHello()" ng-show="moduleLoaded">在模块外部访问模块内部的函数和数据</button>
    <rdk_module id="myModule" url="template/sample_module.html" load_on_ready="false"></rdk_module>

    <h3>app开发详细说明文档</h3>
    <a href="/doc/#client/app-document/rdk_app_direction_doc.md">点击查看</a>
</body>

</html>
