<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>RDK应用工程模板</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
    <!-- === RDK dependency start === -->

    <!-- 这个区域中的代码将被替换掉，请不要在这里添加任何有用代码 -->
    <link rel="stylesheet" type="text/css" href="/rdk/app/libs/rdk/css/loading.css">
    <script data-main="/rdk/app/libs/rdk/rdk.js" src="/rdk/app/libs/requirejs/require.js"
        rdk-app="scripts/main"></script>
    <!-- 上面两行会被自动替换为下面两行 -->
    <!--
    <link rel="stylesheet" type="text/css" href="main.min.css">
    <script data-main="main.min" src="/rdk/app/libs/requirejs/require.min.js"></script>
    -->
    
    <!-- ===  RDK dependency end  === -->

</head>

<!-- rdk-loading 样式只能在body节点添加一次，其他节点不要添加 -->
<body ng-controller='RootController' class="rdk-loading">
    <h1>这是RDK示例应用<span class="version"> 版本 v2.0</span></h1>
    <h3>请所有新增的应用都以这些代码为基础开始构建</h3>

    <!--
        数据源是RDK调用rest服务的利器，这里简单演示如何使用数据源，注意节点上ds开头的各个属性
        $svr这个宏指向本应用的server目录，可使用 app/example/server/version 代替 $svr/version
        需要使用非RDK构建的rest服务时，直接将其url填上即可，比如 /xx/yy/zzz
    -->
    <ul ds="version" ds_url="$svr/version" ds_query_if="ready" ds_init_data="...">
        <li>RDK框架版本 {{version}}</li>
        <li>演示国际化：{{i18n.lang.st(i18n.$locale)}}</li>
        <li><a href="/rdk/app/example-v1/web/index.html">返回旧版本(v1.0)</a></li>
    </ul>
    
    <h3>演示调用REST</h3>
    <p ds="msgFromSvr" ng-bind="msgFromSvr" ds_url="$svr/my_service"
        ds_query_if="ready" ds_init_data="{{i18n.wait}}"></p>

    <h3>模块化</h3>
    <rdk_module url="template/plain_text.html"></rdk_module>

    <button ng-click="loadModule()">加载模块</button>
    <button ng-click="destroyModule()" ng-show="moduleLoaded">卸载模块</button>
    <button ng-click="sayHello()" ng-show="moduleLoaded">在模块外部访问模块内部的函数和数据</button>
    <rdk_module id="myModule" url="template/sample_module.html" load_on_ready="false"></rdk_module>
</body>

</html>
