.combo_select{
    padding:0 0 0 10px;
    height:40px;
    width: 100%;
}
.rdk-time-module {
    display: inline-block;
}
.iconfont-e8c2:before {
    display: inline-block;
    color: #fff;
    font-size: 26px;
    vertical-align:middle
}

