
.content{
	width:752px;
	overflow: hidden;
	margin:0 auto;
	margin-top:50px;
}
ul,li{
	padding:0;
	margin:0;
	list-style:none; 
}
.main4{
	position: relative;
	width:740px;
	height: 380px;
    margin-right:12px;
    font-family: '微软雅黑';
	top:2px;
	padding:8px;
	border:1px solid #eee;
}

/**表格列说明：
*1、表头列和其内容列的对齐方式一至;
*2、文字列向左对齐;
*3、数字列向右对齐;
*4、图片列居中对齐;
*5、以上4点是总的原则，表格的父元素给一个单独有意义的class,以防影响其它表格，
	其它可以根据具体情况自己设定，如：例如给某一列给一个固定宽度。
**/
.main4 .rdk-table-module .rdk-table > tbody > tr>td,
.main4 .rdk-table-module .rdk-table > thead > tr>th {
	text-align: left;
}
.main4 .rdk-table-module .rdk-table > tbody > tr>td:nth-child(1),
.main4 .rdk-table-module .rdk-table > tbody > tr>td:nth-child(2){
	width:100px;
}
.main4 .rdk-table-module .rdk-table > tbody > tr>td:nth-child(1)>div>div,
.main4 .rdk-table-module .rdk-table > tbody > tr>td:nth-child(2)>div>div{
	overflow: hidden;
    white-space: nowrap;
    width:100px;
    text-overflow: ellipsis;
}
.main4 .rdk-table-module .rdk-table > tbody > tr>td:nth-child(3),
.main4 .rdk-table-module .rdk-table > thead > tr>th:nth-child(3){
	text-align:right;
	width:80px;
}
.main4 .rdk-table-module .rdk-table > tbody > tr>td:nth-child(6),
.main4 .rdk-table-module .rdk-table > thead > tr>th:nth-child(6){
	text-align:right;
	width:60px;
}
.main4 .rdk-table-module .rdk-table > tbody > tr>td:nth-last-child(3)~td,
.main4 .rdk-table-module .rdk-table > thead > tr>th:nth-last-child(3)~th
{
	text-align:center;
	width: 80px;
}
/*标题样式*/
.main4 >div.title{
	border: none;
	padding-left: 8px;
	font-size: 14px;
	height: 42px;
	font-style: normal;
	color: #666;
}
.main4 >div.title>ul{
	overflow: hidden;
}
.main4 >div.title>ul>li{
	float: left;
	font-size: 12px;
	margin-top:5px;
	width: 70px;
	line-height: 24px;
	text-align:center; 
	margin-right:12px;
	background-color: #dedede;
}
.main4 >div.title>ul>li:first-child {
	margin-right: 50px;
	font-size: 14px;
	text-align:left; 
	background-color: #fff;
	color: #008FD4;
}
.iconfont {
	font-style: normal;
	color: #008fd4;
	font-size: 16px;
}
.iconfont-e8c9:before {
	color: #fff;
}
i.iconfont-e8c8:before {
	font-size: 20px;
}
/* 翻页定位 */
.main4 .rdk-table-module .pagingLine {
	position: absolute;
	width: 100%;
	margin:0 auto;
	top: 290px;
}
/*输入框的样式*/
.form-control {
	height: 30px;
}
.main4 .rdk-table-module .search {
	margin-bottom: 10px;
    margin-top: 2px;
}
.glyphicon-search:before {
	line-height: 16px
}
thead.ng-scope>tr >th{
	height: 30px;
}
/*********** 翻页样式 ***********/
.rdk-button-comment {
	position:absolute;
	right:16px;
	bottom:5px;
}
.rdk-button-shade {
	background-color: #008fd4;
}
.pagination {
	position:absolute;
	left:248px;
}