
.content{
	width:752px;
	overflow: hidden;
	margin:0 auto;
	margin-top:50px;
}
ul,li{
	padding:0;
	margin:0;
	list-style:none; 
}
.hao{
	position: relative;
	width:740px;
	height: 380px;
    margin-right:12px;
    font-family: '微软雅黑';
	top:200px;
	padding:8px;
	border:1px solid #eee;
}


/*设置td样式 点击时样式*/
.rdk-table-module .rdk-table > tbody > tr>td:nth-child(1),
.rdk-table-module .rdk-table > tbody > tr>td:nth-child(2){
	width:100px;
}
.rdk-table-module .rdk-table > tbody > tr>td:nth-child(1)>div>div,
.rdk-table-module .rdk-table > tbody > tr>td:nth-child(2)>div>div{
	overflow: hidden;
    white-space: nowrap;
    width:100px;
    text-overflow: ellipsis;
}
.rdk-table-module .rdk-table > tbody > tr>td:nth-child(3),
.rdk-table-module .rdk-table > tbody > tr>td:nth-child(4){
	text-align:right;
	width:80px;
}
.rdk-table-module .rdk-table > tbody > tr>td:nth-child(6){
	text-align:right;
	width:60px;
}
.rdk-table-module .rdk-table > tbody > tr>td:nth-last-child(2){
	text-align:center;
	width: 80px;
}
/*标题样式*/
div.hao >div.title{
	border: none;
	padding-left: 8px;
	font-size: 14px;
	height: 42px;
	font-style: normal;
	color: #666;
}
div.hao >div.title>ul{
	overflow: hidden;
}
div.hao >div.title>ul>li{
	float: left;
	font-size: 12px;
	margin-top:5px;
	width: 70px;
	line-height: 24px;
	text-align:center; 
	margin-right:12px;
	background-color: #dedede;
}
div.hao >div.title>ul>li:first-child {
	margin-right: 50px;
	font-size: 14px;
	text-align:left; 
	background-color: #fff;
	color: #008FD4;
}
.iconfont {
	font-style: normal;
	color: #008fd4;
	font-size: 16px;
}
.iconfont-output:before {
	color: #fff;
}
i.iconfont-line {
	font-size: 20px;
}
/* 翻页定位 */
.rdk-table-module .pagingLine {
	position: absolute;
	width: 100%;
	margin:0 auto;
	top: 334px;
}
/*输入框的样式*/
.form-control {
	height: 30px;
}
.rdk-table-module .search {
	margin-bottom: 10px;
    margin-top: 2px;
}
.glyphicon-search:before {
	line-height: 16px
}
thead.ng-scope>tr >th{
	height: 30px;
}
/*********** 翻页样式 ***********/
.rdk-button-comment {
	position:absolute;
	right:16px;
	bottom:10px;
}
.rdk-button-shade {
	background-color: #008fd4;
}
.pagination {
	position:absolute;
	left:248px;
}