<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Bullet 自测</title>

    <link rel="stylesheet" type="text/css" href="/rdk/app/libs/rdk/css/global.css">

    <!-- 应用在开发、调试阶段，请使用下面这个节点，RDK会使用编译前的代码，方便定位问题 -->
    <script data-main="/rdk/app/libs/rdk/rdk"
        src="/rdk/app/libs/requirejs/require.js"></script>
    <script src="self.js"></script>
    

    <!-- 应用正式运行的时候，请使用下面这个节点，RDK会使用编译后的代码，代码体积小，下载快 -->
    <!--
    <script data-main="main.min.js" src="/rdk_server/app/libs/requirejs/require.js"></script>
    <link rel="stylesheet" type="text/css" href="main.min.css">
    -->
    
    <script type="text/javascript">
        require.config({
            paths: {
                //这里引用了rdk应用的公共助手文件，不要改动
                "application": '/test/module/testee_helper',
            }
        });
    </script>
</head>
<style>
    .bullet{
        width:500px
    }
</style>
<body ng-controller='rdk_ctrl' class="rdk_main">
    <div class="bullet sliders">
        <!--sliders支持双向绑定-->
        <rdk_bullet id="bullet_0" sliders="initSliders" slider_styles="sliderStyles" title="告警门限设置" editable="true"></rdk_bullet>
        <div class="currentData">{{currentData}}</div>
        <button ng-click="changeSliders()">change sliders</button>
    </div>
    <!--横向-->
    <div class="bullet horizontal">
        <rdk_bullet id="bullet_1" sliders="sliders" slider_styles="sliderStyles" editable="true" title="告警门限设置" 
        show_legend="true">
        </rdk_bullet>
        <div class="newData">{{data}}</div>
    </div>
    <!--纵向-->
    <div class="bullet vertical">
        <rdk_bullet id="bullet_2" sliders="verticalSliders" slider_styles="verticalSlider" editable="true" title="告警门限设置" 
        show_legend="true" direction="vertical" style="height:500px"></rdk_bullet>
    </div>
    
    <!--是否显示图例-->
    <div class="bullet legend">
        <rdk_bullet id="bullet_3" sliders="commonSliders" slider_styles="sliderStyles" show_legend="isShow">
        </rdk_bullet>
        <button ng-click="unshowLegend()">unshow</button>
        <span ng-model="isShow">{{isShow}}</span>
    </div>
    <!--进度属性、step步长-->
    <div class="bullet value">
        <rdk_bullet id="bullet_4" sliders="valueSliders" slider_styles="sliderStyles" 
        min_value="0" max_value="80" step="2" editable="true"></rdk_bullet>
    </div>
    <!-- 在页面渲染完成之前，显示在界面上，防止页面抖动 -->
    <!--     这个节点可选，删除后，RDK会自动生成一个    -->
    <!--           这个节点只支持基本HTML标签           -->
    <div style="height:100px"></div>
    <rdk_loading>
        <img src="images/loding.gif" alt="loading..."/>
    </rdk_loading>
</body>

</html>
