
.rdk-table-module .rdk-table > thead > tr > th{
	color:#008fd4;
	font-size: 14px;
	background:#eeeeee;
}
.content{
	width:752px;
	overflow: hidden;
	margin:0 auto;
	margin-top:50px;
}
.hao{
	position: relative;
	width:740px;
	height: 300px;
    margin-right:12px;
	top:200px;
	position:absolute;
	padding:8px;
	border:1px solid #eee;
	box-shadow: 4px 4px 8px #eee;
}
/*设置tr样式*/
.rdk-table-module .rdk-table > tbody > tr:nth-child(even){
	background:#f3f3f3;
}
.rdk-table-module .rdk-table > thead > tr>th{
	text-align:left;
	font-size: 12px;
	padding:0px 6px;
	height:30px;
}
.rdk-table-module .rdk-table > thead > tr>th:last-child{
	text-align: center;
}
.rdk-table-module .rdk-table > tbody > tr>td:not(:last-child){
	text-align:left;
}
.rdk-table-module .rdk-table > tr{
	height:30px;
}
.rdk-table-module .rdk-table > tbody > tr:nth-child(odd){
	background:#ffffff;
}
/*设置td样式 点击时样式*/
.rdk-table-module .rdk-table tbody tr.selected-row td{
	background: #cde4fa;
	padding: 0 6px
	/*line-height:30px;*/
}
.rdk-table-module .rdk-table tbody > tr >td{
	padding:0px 6px;
	line-height: 30px;
	cursor: pointer;
}

/*图标设置*/
span.images_right{
	display:inline-block;
	height:64px;
	width:12px;
	position:absolute;
	background:url(../images/left.png) no-repeat;
	margin-top:100px;
}
/*进去时换的图标*/
span.images_left{
	background:url(../images/right.png) no-repeat;
}
.images_up{
	left:-740px;
    transition: all 0.25s linear
}
.images_down{
	left:0;
    transition: all 0.25s linear
}
.rdk-table-module .rdk-table{
	border-bottom:1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
}
.rdk-table-module .rdk-table tfoot tr, .rdk-table-module .rdk-table thead>tr{
	border-bottom:none;
}
/*去tr边框 */
.rdk-table-module .rdk-table tr{
	border-bottom: none
}
/*表格hover背景色*/
.rdk-table-module .rdk-table > tbody > tr:not(.selected-row):hover > td {
    background-color: #e2eef9;
}

/*标题样式*/
div.hao >span.title{
	position:absolute;
	border: none;
	top:10px;
	font-size: 14px;
	font-style: normal;
	line-height: 30px;
	color: #008FD4;
}
.panel-title{
	background-color: #ffffff; 
    border: none;
    height: 32px;
    font-size: 14px;
}
.panel-caption{
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
	margin-left: 0;
}
i{
	font-style: normal;
}
/* 翻页定位 */
.rdk-table-module .pagingLine {
	position: absolute;
	width: 100%;
	top: 260px;
}
/** 下面翻页字体居中 **/
.rdk-table-module .pagination > li > a, .rdk-table-module .pagination > li > span {
    margin: 10px 0 0px;
}
.rdk-table-module .spanRecords {
    margin: 10px 10px 1px 10px;
}
.rdk-table-module .pagination {
	margin: 0;
}
/*输入框的样式*/
.form-control {
	border: 1px solid #008fd4;
	height: 30px;
}
.rdk-table-module .search {
	margin-bottom: 10px;
    margin-top: 2px;
}
.glyphicon-search:before {
	color:#008fd4;
	line-height: 16px
}
.form-control:hover {
    border-color: #008fd4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.form-control:focus {
    border-color: #008fd4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
thead.ng-scope>tr >th{
	height: 30px;
}
/* 翻页 */
.rdk-table-module .enabledRecords{
	color: #008FD4;
}
.rdk-table-module .disabledRecords {
	color: #999999 !important;
}
.rdk-table-module .regularRecords {
	color: #333;
}
i.regular_right,i.regular_left{
	line-height: 17px;
}
i.regular_right{
	color:#666;
}
i.regular_left{
	color:#333;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus,
.pagination>li>span:focus {
	background: none;
} 
/*********** 翻页样式 ***********/
.rdk-table-module .pagination > li > a{
    padding: 0 6px;
    font-size:12px;
}
.rdk-table-module .pagination > li:nth-child(2) >a{
    padding: 0 18px 0 4px;
}
.rdk-table-module .pagination > li:nth-last-child(2) >a{
	padding: 0 4px 0 18px;
}
.rdk-table-module .disabledRecords{
	font-size:12px;
}









