.rdk-selector-module .selector li {
    float: left;
    width: 100%;
    border:none;
    border-radius: 0;
    margin: 2px 0;
    padding: 3px;
    padding-left: 21px;
}
.rdk-selector-module .selected-item {
    background-color: #fff;
}
.rdk-selector-module .selector {
    padding: 0;
    text-align: left;
}
.rdk-selector-module .selector li:last-child {
    margin-bottom: 0;
}
.rdk-selector-module .selector li {
    background-image: url(images/normal.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    color: #333;
}
.rdk-selector-module .selector li:hover{
    background-image: url(images/hover.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 5px center;
    color: #333;
}
.rdk-selector-module .selector li.selected-item{
    background-image: url(images/selected.png);
    background-repeat: no-repeat;
    background-position: 5px center ;
    color: #333;
}
 .selectorContent {
     position: absolute;
     top: 16px;
     left: 100%;
     z-index: 99999;
}
.userDefined {
    position: relative;
}

.colorGray {
    color: #ccc;
}
.clhide {
    display:none;
}
.clshow {
    display: block;
}
.selectorMain .iconfont-e92a {
    cursor: pointer;
    margin-left: 10px;
}
.selectorMain .rdk-selector-module {
    width: 150px;
}
.rdk-table-module .rdk-table > thead > tr >th:nth-child(3)>.rdk-table-icon,
.rdk-table-module .rdk-table > thead > tr >th:nth-child(4)>.rdk-table-icon{
    margin-left: -27px;
    position: relative;
    z-index: 99999;
}
.rdk-table-module table:not(.resize).rdk-table-head {
    z-index:1;
}
.rdk-table-module .wrapper{
    height: 403px;
}
.rdk-table-module .rdk-table.resize > thead > tr > th, .rdk-table-module .rdk-table.resize > thead > tr > th >div{
    overflow: visible;
}
.rdk-table-module .rdk-table > thead div.rdk-table-custom-header {
    vertical-align: middle;
}
.rdk-table-module .rdk-table-head-box{
    height: 243px;
}
.rdk-table-module .rdk-table-head{
    position: absolute;top:0;
}
.rdk-table-module .wrapper{
    margin-top: -210px;
}