.table_wrap{
    display: inline-flex;
    overflow: hidden;
}
.table-moved .rdk-table-module{
    width: 450px;
    border-left: 1px solid #e5e5e5;
}
.table-moved .rdk-table-module .table-export{
    right: -100px;
}
.table-fixed .rdk-table-module{
    width: 100px;
    box-shadow: -2px -0 4px rgba(0,0,0,0.175);
}
.table-fixed .rdk-table-module .iconfont{
    cursor: pointer;
}
.iconfont-e8b7{
    color: #008FD4;
    font-size: 19px;
}

.table-moved .rdk-table-module .rdk-table thead>tr>th{
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(1),
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(2),
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(3),
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(4),
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(5),
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(6),
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(7),
.table-moved .rdk-table-module .rdk-table thead>tr>th:nth-of-type(8)
{
    width: 90px;
}