.table_wrap{
    display: inline-flex;
    overflow: hidden;
}
.table-moved .rdk-table-module .wrapper{
    width: 450px;

    height: 300px;
}
.table-moved .rdk-table-module .table-export{
    right: -100px;
}
