
* {
	margin:0; 
	padding:0;
}
ul,li{
	list-style:none;
}
.modalcss{
	font-size: 12px;
	padding: 0;
	font-family: '微软雅黑';
	z-index: 1001;
	padding: 0 !important;
}
.rdk-popupservice-dialog .rdk-popupservice-titlebar i {
	margin: 0;
}
.rdk-popupservice-dialog .rdk-popupservice-titlebar {
	padding: 0;
	border-bottom: 1px solid #41addc;
	background-color: #fff;
	line-height: 30px;
}
/*********右上角关闭按钮样式**********/
.rdk-popupservice-dialog .ui-state-focus .ui-icon,
.rdk-popupservice-dialog .ui-state-default .ui-icon {
	height: 20px;
	width: 20px;
	margin-top: -10px;
	margin-left: -10px;
	background: #fff  url(../images/close.png) no-repeat 0px 0px;
}
.rdk-popupservice-dialog .ui-state-hover .ui-icon {
	background-color: rgba(0,143,208,0.1);
}
.rdk-popupservice-dialog {
	width: 250px!important;
	box-shadow: rgba(0,0,0,.1) 4px 4px 10px;
}
.ui-dialog .ui-dialog-titlebar-close {
	right: 10px;
	margin-top:-10px;
}
.ui-dialog .ui-dialog-title{
	margin: 0;
	padding-left: 20px;
	font-size: 12px;
	color:#434343;
}
.ui-widget-header {
	border-bottom: none;
}
.ui-corner-all {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}
.ui-dialog .ui-dialog-titlebar-close {
	padding: 0;
}
.ui-button-icon-only .ui-button-text {
	padding: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #eee;
	border: none;
}
.ui-state-default:focus, .ui-widget-content .ui-state-default:focus {
	border: none;
	outline: none;
}
.ui-dialog {
	overflow: inherit;
}
.ui-dialog .ui-dialog-content{
	overflow: visible;
}
/*******容器内部子样式********/
.alertContent {
	height: 50px;
	border-bottom: 1px solid transparent;
	border-top:1px solid transparent;
}
.alertContent button {
	width: 90px;
	height: 30px;
	margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 14px;
	color: #008fd4
}
.alertContent button:hover {
	border: 1px solid #9bc9dd;
}
.alertContent button:active {
	border: 1px solid #3793bb;
}
.alertContent button:focus {
	outline: none;
}
.alertContent button:active {
	border: 1px solid #3793bb;
}
.alertContent button:first-child {
	margin-left: 20px;
}
.alertContent button:last-child{
	float: right;
	margin-right: 20px;
}
.alertContent button img {
	float:left;
	width: auto;
	height: auto;
	margin: 0;
	margin-left: 10px;
	margin-top: 3px;
	border-radius: 0;
	border: none;
}
.alertContent button:first-child img {
	margin-left: 16px;
}
.alertContent button span {
	float: right;
	margin-right: 10px;
}
.alertContent button:first-child span {
	margin-right: 16px;
}
.listContent li {
	line-height: 30px;
}
.listContent ul li:nth-child(2n+1) {
	background-color: rgba(204,204,204,.2);
}
.listContent ul {
	margin: 0;
}
.listContent li span {
	display: inline-block;
	width: 80px;
	text-align: right;
}

