.condition-bar{
    padding:4px 5px 4px 4px;
    height:40px;
    overflow:hide;
    background:#008fd4;
}

.icon-calendar {
    background: #008fd4 url(../images/calendar.png) no-repeat 5px 5px;
}

.comSelect{
	display: inline-block;
}
 
.comSelect::before,.rdk-time-module::before{
	content: '';
	display: inline-block;
	width: 26px;
	height: 26px;
	vertical-align: middle;
}

.comSelect::before{
	background: url(../images/calendar.png); 
}

.rdk-time-module::before{
	background: url(../images/positioning.png); 
}