.rdk-table-module .rdk-table tbody>tr>td:nth-of-type(4){
    color: #008fd4;
}
.rdk-table-module .rdk-table tbody>tr>td:nth-of-type(5)
 {
    text-align: right;
    padding-right: 80px;
}
.rdk-table-module .rdk-table tbody>tr>td:nth-of-type(6)
{
    text-align: right;
    padding-right: 60px;
}
.frequency{
    text-decoration:underline;
    cursor: pointer;
}
.peity{
    margin-top: 4px;
}
